body{
    padding: 100px;
}
.welcome{
    text-align: center;
    color: olivedrab;
}
.submit-area{
    margin-top: 50px;
    padding:40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display:none;
}
.transaction{
    text-align: center;
    color: rgb(0, 255, 34);
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin:0 20px;
    color:white;
    padding: 20px;
    border-radius: 10px;
}
.new{
    margin-top: 50px;
    padding:40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

}